<!-- Seccion de servicios -->
<div class="container">
  <div class="row">

    <!-- Columna de envios -->
    <div class="col-md-3 text-left">
      <div class="icon-section">
        
        <i class="fa-solid fa-truck-fast" style="color: #b09e8a;"></i>
        <section>Envíos a todo el país</section>
      </div>
      <div class="example-button-row">
        <span>A domicilio y puntos de entrega</span>
      </div>
    </div>

    <!-- Columna de pago -->
    <div class="col-md-3 text-left">
      <div class="icon-section">
        <i class="fa-solid fa-credit-card" style="color: #b09e8a;"></i>
        <section>Paga con tarjeta</section>
      </div>
      <div class="example-button-row">
        <span>Hasta 3 cuotas sin interés con <b>Visa y Mastercard</b></span>
      </div>
    </div>

    <!-- Columna de local -->
    <div class="col-md-3 text-left">
      <div class="icon-section">
        <i class="fa-solid fa-location-dot" style="color: #b09e8a;"></i>
        <section>Retira en nuestras tiendas</section>
      </div>
      <div class="example-button-row">
        <span>Estamos en <b>Cipolletti, Rio Negro</b></span>
      </div>
    </div>

    <!--  Columna de contacto -->
    <div class="col-md-3 text-left">
      <div class="icon-section">
        <i class="fa-solid fa-mobile-screen-button" style="color: #b09e8a;"></i>
        <section>Consultas aquí</section>
      </div>
      <div class="example-button-row">
        <span>Whatsapp haciendo click <a href="https://web.whatsapp.com/">aquí</a></span>
      </div>
    </div>

  </div>
</div>
<!-- /Sección de servicios -->