<!-- Divisor del footer -->
<mat-divider class="divisor"></mat-divider>
<!-- /Divisor del footer -->

<!-- Footer -->
    <div class="container">
        <div>
            <button class="btn">CONTACTOS</button>
        </div>

        <span class="separador">/</span>

        <div>
            <button class="btn">SOBRE NOSOTROS</button>
        </div>

        <span class="separador">/</span>

        <div>
            <button class="btn">TERMINOS Y CONDICIONES</button>
        </div>

        <span class="separador">/</span>

        <div>
            <button class="btn">POLITICA DE PRIVACIDAD</button>
        </div>
    </div>

    <div>
        
    </div>


    <div class="container-2">
        <p> © ARGENTINA 2024</p>
    </div>
<!-- /Footer -->