<div class="container overflow-hidden text-center">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3">
            <h1>Sobre nosotros</h1>
            <p>En Rutas Nómadas, vivimos y respiramos la aventura al aire <br>
                 libre. Nuestra pasión por los deportes en la naturaleza nos ha <br>
                  inspirado a crear un espacio donde los entusiastas del aire libre <br>
                   puedan encontrar todo lo necesario para explorar el mundo <br>
                    que les rodea. Ya sea que te guste escalar montañas, recorrer <br>
                     senderos, remar en aguas tranquilas o bucear bajo el mar, <br>
                      estamos aquí para equiparte con los mejores productos y <br>
                       asesorarte en cada paso de tu aventura.</p>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3">
            <img src="../assets/bici.jpg" class="img2">
        </div>
      </div>
      <div class="col-6">
        <div class="p-3">
            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <img src="https://i.pinimg.com/564x/c8/f9/a3/c8f9a30c73216322d58037ba3233bcf0.jpg" class="img" alt="">
                  </div>
                  <div class="col">
                    <img src="https://i.pinimg.com/564x/0a/cf/04/0acf04e8682d4c52efb502b4afff270f.jpg" class="img" alt="">
                  </div>
                  <div class="col">
                    <img src="https://i.pinimg.com/564x/4f/36/3d/4f363de77abbda8277d8d82b96c0cfd3.jpg" class="img" alt="">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3">Creemos que estar en contacto con la naturaleza no solo <br>
             enriquece el cuerpo, sino también el alma. Nuestro <br>
              compromiso es ofrecerte equipos de alta calidad, para que <br>
               puedas ser capaz de disfrutar al máximo de tu amor por los <br>
                deportes al aire libre. <br>
                <br>
            No importa si eres un principiante o un profesional <br>
             experimentado, en rutas nómadas estamos dedicados a <br>
              apoyarte para que disfrutes de cada experiencia al aire <br>
               libre como si fuera la primera vez.
            </div>
      </div>
    </div>
  </div>