

<div class="container">

    <h1 class="titulo">Iniciar Sesión</h1>

    <div class="row">

        <!-- Email -->
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo Electrónico</label>
        </div>

        <!-- Contraseña -->
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <!-- Botón para iniciar sesión -->
        <button class="boton" onclick="IniciarSesion()">Iniciar Sesión</button>

        <!-- Ir a registrarse -->
        <div id="Registrarse" class="container-registrarse">
        <h2>
            ¿Ya tienes cuenta? <div class="btn"  routerLink="/registro"> Registrarse</div>
        </h2>
        </div>


    </div>

</div>