<p>inicio-sesion works!</p>
<!--H1 que hace de titulo-->

<h1 class="titulo">Inicio Sesión</h1>


<!--Centro-->

<div class="container">
    <div class="row">

        <!-- Email de usuario -->
        <mat-form-field appearance="fill" class="label">
            <mat-label>Ingrese su email:</mat-label>
            <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: superpepe@gmail.com" required>
            <mat-icon matSuffix><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b09e8a"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/></svg>  </mat-icon>
        </mat-form-field>
 
        
        <!-- Contraseña de usuario -->
        <mat-form-field class="label">
            <mat-label>Ingrese su contraseña</mat-label>
            <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b09e8a"><path d="M160-80v-560h120v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h120v560H160Zm320-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z"/></svg></mat-icon>
            </button>
        </mat-form-field>


        <!-- Botón para enviar la información -->
        <button mat-raised-button  class="boton" class="iniciar" (click)="IniciarSesion()">Iniciar Sesion</button>
    </div>


<!--H1 de pregunta si no tiene cuenta-->

<div id="Registrarse" ><h1>No tienes cuenta? <div class="btn 1"  routerLink="/registro">Registrarse</div>  </h1> </div>
</div>

