/* Css del h1 del titulo
*/
h1{
    text-align: center;

}

/* Css del contenedor del label
*/
.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

/* Css del boton del label
*/
.boton{
    width: 120px;
    margin: auto;
}
/* Css del link de registrarte
*/
.btn {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    color: #2c7cfd;
}