


    <div class="row">

        <!-- Botón para iniciar sesión -->
        <button class="boton" (click)="iniciarSesion()">Iniciar Sesión</button>

        <!-- Ir a registrarse -->
        <div id="Registrarse" class="container-registrarse">
        <h2>
            ¿Ya tienes cuenta? <div class="btn"  routerLink="/registro"> Registrarse</div>
        </h2>
        </div>


    </div>

    <button mat-raised-button  class="boton" class="boton_piola" (click)="iniciarSesion()">Iniciar Sesion</button>

<!--H1 de pregunta si no tiene cuenta-->

<div id="Registrarse" ><h1>No tienes cuenta? <div class="btn 1"  routerLink="/registro">Registrarse</div>  </h1> </div>
