<!--##############################################carousel de cards################################################################-->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
            <div class="card-body">
                <!--titulo-->
                <h5 class="card-title">cfas </h5>
                <!--precio-->
                <p class="card-text">&#36;sss</p>
                <!--boton de comprar-->
                <a href="#" class="btn btn-secondary" routerLink="/inicio-sesion">comprar</a>
              </div>
        </div>
        <div class="carousel-item" *ngFor="let i of info">
            <img src="{{i.imagen}}" class="d-block w-100" alt="{{i.alt}}">
            <div class="card-body">
                <!--titulo-->
                <h5 class="card-title">{{i.nombre}} </h5>
                <!--precio-->
                <p class="card-text">&#36;{{i.precio}} </p>
                <!--boton de comprar-->
                <a href="#" class="btn btn-secondary" routerLink="/inicio-sesion">comprar</a>
              </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

