<!--##############################################carousel de cards###############################################################-->


<h2>Por si te interesa:</h2>
<swiper 
  [spaceBetween]="25" 
  [navigation]="true" 
  [pagination]="{ clickable: true }" 
  [breakpoints]="breakpoints">
  <ng-template swiperSlide class="card" *ngFor="let producto of coleccionProductosCarrito">
    <!-- Botón de favoritos -->
    <mat-card-actions class="card-botones">
      <button 
        (click)="subirFavorito(producto)" 
        class="boton-fav" 
        mat-icon-button 
        color="danger">
        <mat-icon *ngIf="producto.favoritos">favorite</mat-icon>
        <mat-icon *ngIf="!producto.favoritos">favorite_border</mat-icon>
      </button>
    </mat-card-actions>

    <!-- Imagen del producto -->
    <img [src]="producto.imagen" alt="Imagen del producto" class="imagen" />

    <!-- Nombre del producto -->
    <mat-card-title>{{producto.nombre}}</mat-card-title>

    <!-- Precio del producto -->
    <div class="texto">
      {{producto.precio | currency}}
    </div>

    <!-- Botón "Ver más" -->
    <button 
      type="button" 
      class="btn1 btn-primary" 
      data-bs-toggle="modal" 
      data-bs-target="#exampleModal">
      Ver más
    </button>
  </ng-template>
</swiper>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <!-- contenido-->
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <!-- contenido con la imagen-->
           <div class="imagen"> 
            <img [src]="detalle.imagen" alt="" class="imagen-modal" />
          </div>
          </div>
          <div class="col">
            <!-- contenido con la información-->
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               <div class="modal-body">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{detalle.nombre}}</h1>
              <p>{{detalle.descripcion }}</p>
              <p>{{ detalle.precio | currency }}</p>
              </div>
            </div>
            <div class="modal-footer">
              <!-- contenido con el botón-->
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
              <button (click)="agregarProducto(producto)" class="btn btn-primary">Agregar al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




 

