/* Centrar el carrusel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px; /* Ajusta el ancho máximo según sea necesario */
    margin: auto; /* Centra horizontalmente en la página */
    padding: 60px;
}

/* Establecer un tamaño específico para las imágenes */
.carousel-item img {
    width: 100%; /* Ajusta para que ocupe el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    max-height: 600px; /* Ajusta la altura máxima según sea necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.container {
    margin-top: 20px;
    text-align: center;
    max-width: 1350px; /* Ajusta el ancho máximo según sea necesario */
    margin: auto; /* Centra horizontalmente en la página */
    
  
  }

  