<mat-toolbar class="custom-toolbar">
    <!-- Botón de menú (hamburguesa) -->
    <button class="hamburger-button" (click)="toggleMenu()" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Menú de inicio y categorías -->
    <div class="nav-left">
        <button id="menuInicio" mat-button routerLink="/inicio" class="toolbar-button">Inicio</button>
        <button id="menuProducto" mat-button [matMenuTriggerFor]="producto" class="toolbar-button">Categorías</button>
        <mat-menu #producto="matMenu">
            <button mat-menu-item routerLink="/kayak">Kayak</button>
            <button mat-menu-item routerLink="/escalada">Escalada</button>
            <button mat-menu-item routerLink="/pesca">Pesca</button>
            <button mat-menu-item routerLink="/ciclismo">Ciclismo</button>
            <button mat-menu-item routerLink="/esqui">Esqui</button>
            <button mat-menu-item routerLink="/buceo">Buceo</button>
            <button mat-menu-item routerLink="/tirolesa">Tirolesa</button>
            <button mat-menu-item routerLink="/paracaidismo">Paracaidismo</button>
            <button mat-menu-item routerLink="/alpinismo">Alpinismo</button>
            <button mat-menu-item routerLink="/todos">VER TODOS LOS PRODUCTOS</button>
        </mat-menu>
    </div>

    <!-- Logo -->
    <div class="logo-container">
        <a class="navbar-brand" href="#">
            <img src="../../../../../../assets/logo.jpg" alt="Logo" class="logo-image">
        </a>
    </div>

    <!-- Sección derecha: íconos -->
    <div class="nav-right">
        <button class="btn" [matMenuTriggerFor]="usuario">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #usuario="matMenu">
            <button mat-menu-item *ngIf="logueado" routerLink="/registro" class="custom-menu-button">Registrarse</button>
            <button mat-menu-item *ngIf="logueado" routerLink="/inicio-sesion" class="custom-menu-button">Iniciar sesión</button>
        </mat-menu>

        <button class="btn">
            <mat-icon>shopping_cart</mat-icon>
        </button>

        <button class="btn">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>

    <!-- Menú móvil -->
    <div class="mobile-menu" *ngIf="menuOpen">
        <div class="nav-left-mobile">
            <button id="menuInicio" mat-button routerLink="/inicio" class="toolbar-button">Inicio</button>
            <button id="menuProducto" mat-button [matMenuTriggerFor]="producto" class="toolbar-button">Categorías</button>
        </div>
        <div class="nav-right-mobile">
            <button class="btn" [matMenuTriggerFor]="usuario">
                <mat-icon>person</mat-icon>
            </button>
            <button class="btn">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button class="btn">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
