<mat-toolbar class="custom-toolbar">
    <!-- Menú de inicio -->
    <button id="menuInicio" mat-button routerLink="/inicio" class="toolbar-button">Inicio</button>

    <!-- Menú desplegable: SECCIÓN DE PRODUCTOS -->
    <button id="menuProducto" mat-button [matMenuTriggerFor]="producto" class="toolbar-button">Categorías</button>
    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/producto">General</button>
        <button mat-menu-item routerLink="/indumentaria">Indumentaria</button>
        <button mat-menu-item routerLink="/alimentacion">Alimentación</button>
        <button mat-menu-item routerLink="/juguetes">Juguetes</button>
    </mat-menu>

    <!-- Logo -->
    <div class="logo-container">
        <a class="navbar-brand" href="#">
            <img src="../../../../../../assets/logo.jpg" alt="Logo" class="logo-image">
        </a>
    </div>

    <span class="example-spacer"></span>

    <!-- Manejo del inicio (registro e inicio de sesión) y del cerrar sesión -->
    <button mat-icon-button [matMenuTriggerFor]="usuario" aria-label="Usuario">
        <mat-icon>person</mat-icon> <!-- Icono del user-->
    </button>
   
        <mat-menu #usuario="matMenu" >
            <button mat-menu-item *ngIf="logueado" routerLink="/registro" class="custom-menu-button">Registrarse</button>
            <button mat-menu-item *ngIf="logueado" routerLink="/inicio-sesion" class="custom-menu-button">Iniciar sesión</button>
        </mat-menu>
    

    

    <!-- Icono del carrito -->
    <button mat-icon-button class="toolbar-icon" aria-label="Carrito de compras">
        <mat-icon>shopping_cart</mat-icon>
    </button>

    
</mat-toolbar>
