<mat-toolbar class="custom-toolbar">
    <!-- Menú de inicio -->
    <button id="menuInicio" mat-button routerLink="/inicio" class="toolbar-button">Inicio</button>

    <!-- Menú desplegable: SECCIÓN DE PRODUCTOS -->
    <button id="menuProducto" mat-button [matMenuTriggerFor]="producto" class="toolbar-button">Categorías</button>
    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/producto">Kayak</button>
        <button mat-menu-item routerLink="/indumentaria">Escalada</button>
        <button mat-menu-item routerLink="/alimentacion">Pesca</button>
        <button mat-menu-item routerLink="/juguetes">Ciclismo</button>
        <button mat-menu-item routerLink="/juguetes">Esqui</button>
        <button mat-menu-item routerLink="/juguetes">Buceo</button>
        <button mat-menu-item routerLink="/juguetes">Tirolesa</button>
        <button mat-menu-item routerLink="/juguetes">Paracaidismo</button>
        <button mat-menu-item routerLink="/juguetes">Alpinismo</button>
    </mat-menu>

    <!-- Logo -->
    <div class="logo-container">
        <a class="navbar-brand" href="#">
            <img src="../../../../../../assets/logo.jpg" alt="Logo" class="logo-image">
        </a>
    </div>

    <span class="example-spacer"></span>

    <!-- Botones del navbar -->
    <div>
        <!-- Manejo del inicio (registro e inicio de sesión) y del cerrar sesión -->
        <button class="btn" [matMenuTriggerFor]="usuario">
            <mat-icon>person</mat-icon> <!-- Icono del user-->
        </button>

        <mat-menu #usuario="matMenu">
            <button mat-menu-item *ngIf="logueado" routerLink="/registro"
                class="custom-menu-button">Registrarse</button>
            <button mat-menu-item *ngIf="logueado" routerLink="/inicio-sesion" class="custom-menu-button">Iniciar
                sesión</button>
        </mat-menu>


        <!-- Icono del carrito -->
        <button class="btn" routerLink="/carrito"
        >
            <mat-icon>shopping_cart</mat-icon>
        </button>


        <button routerLink="/favorito" mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
            <mat-icon matBadge="{{productoservicio.cantidadProductosFavoritos}}" matBadgeColor="warn">favorite</mat-icon>
          </button>

    </div>
</mat-toolbar>
