<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>

                
    </mat-grid-tile>
    <!-- Contenedor formulario -->
    <mat-grid-tile>

        <div class="container">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y apellido">
            </div>
        
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Tema</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

</mat-grid-list>