<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
    <div>
        <h1><b>CONTACTA CON NOSOTROS</b></h1>
        <p>Si te ha resultado interesante la página y deseas contactarnos, <br>
             por favor rellena el formulario del costado y mándanos un <br> mensaje,
              y responderemos lo antes posible. <br>
            Gracias por leer.</p>
            <h2><b>E-mail</b></h2>
            <p>rutasnomades@gmail.com</p>
            <h2><b>Numero de telefono</b></h2>
            <p>+54 9 2991234573</p>
            <h2><b>Ubicacion</b></h2>
            <p>Ministro Gonzalez 40 - Neuquen</p>
    </div>
                
    </mat-grid-tile>
    <!-- Contenedor formulario -->
    <mat-grid-tile>
        <div class="container">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y apellido">
            </div>
        
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Tema</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-success">Enviar</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>