/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 70vh; /* Altura completa de la ventana para centrar verticalmente */
  }
  
  /* Titulo */
  .titulo {
    font-size: 2.3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px; /* Ajustamos el margen */
  }
  
  /* Estilo del formulario */
  .row {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se alineen en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
    max-width: 500px; /* Limita el tamaño máximo de los elementos */
  }
  
  .form-floating {
    position: relative; /* Necesario para posicionar el ícono dentro del campo */
    margin-bottom: 20px;
  }
  
  /* Estilo de los inputs */
  input {
    width: 100%; /* Hace que los inputs ocupen el 100% del ancho disponible */
    border-radius: 25px;
    border: 2px solid #836c53;
    font-size: 16px;
    padding: 12px 20px; /* Añadimos más relleno */
    padding-right: 40px; /* Espacio para el ícono dentro del input */
  }
  
  label {
    color: #b09e8a;
    font-size: 16px;
    margin-left: 25px; /* Alineación del label */
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }
  
  /* Estilo de los íconos dentro de los campos de texto */
  .icon-container {
    position: absolute;
    right: 20px; /* Ajustamos la posición a la derecha */
    top: 50%; /* Centra el ícono verticalmente */
    transform: translateY(-50%); /* Alinea perfectamente */
    pointer-events: none; /* Evita que el clic sobre el ícono interfiera con el input */
  }
  
  /* Estilo del botón de registrarse */
  .boton {
    background-color: #b09e8a;
    border-radius: 70px;
    border: none;
    color: #f4f3f6;
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin-top: 40px; /* Separa el botón del formulario */
    text-align: center;
  }
  
  .boton:hover {
    background-color: #836c53;
  }
  
  /* Estilo para la sección de la pregunta de login */
  .container-pregunta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  h2 {
    font-weight: normal;
  }
  
  /* Estilo del enlace a iniciar sesión */
  .btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #1893f8;
    margin-left: 2px;
    font-size: 18px;
  }